<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(content)">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" 
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
		crossorigin="anonymous" 
		referrerpolicy="no-referrer" />

    <title th:text="${tittle}">Base Html</title>
    
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
  </head>
  <body>
    
<!--     this is navbar-->
    <nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-primary">
	  <a class="navbar-brand" href="#">Smart Contact Manager</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		  
	    <ul class="navbar-nav ml-auto text-uppercase">
			
	      <li class="nav-item active">
	        <a th:href="@{/}" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">About</a>
	      </li>
	      
	      <li class="nav-item">
	        <a class="nav-link" href="#"><span th:text="${user.uname}"></span></a>
	      </li>
	      
	      <li class="nav-item">
	        <a class="nav-link" th:href="@{/logout}" href="#">Logout</a>
	      </li>
	      
	    </ul>
	    
	  </div>
	</nav>
	
<!--	END navbar-->


<!--	sidebar-->

	

	<div class="sidebar mt-2">
		
		<span onclick="toggleSidebar()" class="crossBtn">&times;</span>
		
		<a id="home-link" href="#" th:href="@{/user/index}" class="item active"> <i class="fa-solid fa-house-chimney"></i> Home</a>
		<a id="contacts-link" href="#" th:href="@{/user/show-contacts}" class="item"> <i class="fas fa-id-card-alt"></i> View Contacts</a>
		<a id="add-link" href="#" th:href="@{/user/add-contact}" class="item"> <i class="fa-solid fa-pencil"></i> Add Contacts</a>
		<a id="profile-link" href="#" th:href="@{/user/profile}" class="item"> <i class="fa-solid fa-user"></i> Your Profile</a>
		<a id="settings-link" href="#" th:href="@{/user/settings}" class="item"> <i class="fa-solid fa-gear"></i> Settings</a>
		<a href="#" th:href="@{/logout}" class="item"> <i class="fas fa-sign-out-alt"></i> Logout</a>
		<div class="divider"></div>
		
	</div>
<!--	END sidebar-->
	
	
<!--	content-->
	<div class="content mt-5">
		<i onclick="toggleSidebar()" class="fas fa-bars m-3"></i>
		
		<!-- message box -->
		<div th:if="${session.message}" class="container">
			<div th:classappend="${'alert-'+session.message.type}" class="alert text-center" role="alert">
			  <span th:text="${session.message.content}"></span>
			</div>
			<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
		</div>
		
		
		
		<div th:replace="${content}"></div>
	</div>
<!--	END content-->
	
    
<!--    <div th:replace="${content}"></div>-->

    <!-- Optional JavaScript -->
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  	
<!--  	sweet alert-->
	<script src="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.css">
  	
  	<script>
		  function deleteContact(cid){
			  swal({
				  title: "Are you sure?",
				  text: "You want to delete this contact...",
				  type: "warning",
				  showCancelButton: true,
				  confirmButtonColor: "#DD6B55",
				  confirmButtonText: "Yes, delete it!",
				  cancelButtonText: "No, cancel plx!",
				  closeOnConfirm: false,
				  closeOnCancel: false
				  
				},
				function(isConfirm){
				  if (isConfirm) {
				    swal("Deleted!", "Your imaginary file has been deleted.", "success");
				    if(isConfirm){
						window.location="/user/delete/"+cid;
					}
				    
				  } else {
				    swal("Cancelled", "Your contact is safe :)", "error");
				  }
				});
				
			
		  }
	  </script>
  	
  	<script th:src="@{/js/script.js}"></script>
  
  </body>
</html>