<!doctype html>
<html lang="en" xmlns="www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is about page</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body">
				<h1 class="text-center">Update Your Contact</h1>
				<div class="container-fluid mt-1">
					<div class="row">
						<div class="div col-md-8 offset-md-2">
							<form action="#" 
								th:object="${contact}" 
								enctype="multipart/form-data"
								method="post"
								th:action="@{/user/process-update}"
								class="mt-2"
							>
							
							<input type="hidden" th:value="${contact.cId}" name="cId" />
							
								<!-- First Name -->
								
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-plus"></i>
										</div>
									</div>
									<input th:value="${contact.name}" type="text" id="firstName" name="name" placeholder="Enter Name here" class="form-control" required />
								</div>
								
								<!-- second Name -->
								
								<div class="input-group mt-3">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="fas fa-user-alt"></i>
											</div>
										</div>
										<input th:value="${contact.secondName}" type="text" id="secondName" name="secondName" placeholder="Enter Nick Name here" class="form-control" required />
									</div>
								</div>
								
					
								
								<!-- Email Id -->
								
								<div class="input-group mt-3">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">
												@
											</div>
										</div>
										<input th:value="${contact.email}" type="email" id="email" name="email" placeholder="Enter Email here" class="form-control" required />
									</div>
								</div>
								
								<!-- Phone no. -->
								
								<div class="input-group mt-3">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="fa fa-phone"></i>
											</div>
										</div>
										<input th:value="${contact.phone}" required min="10" type="number" id="phone" name="phone" placeholder="Enter Phone Number here" class="form-control" />
									</div>
								</div>
								
								<!-- Work -->
								
								<div class="input-group mt-3">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text">
												<i class="fa fa-briefcase"></i>
											</div>
										</div>
										<input th:value="${contact.work}" type="text" id="work" name="work" placeholder="Enter your work here" class="form-control"  />
									</div>
								</div>
								
								<!-- Contact Description -->
								
								<div class="form-group mt-3">
									<textarea th:text="${contact.description}" id="mytextarea" placeholder="Enter Contact Description" name="description" rows="10" class="form-control"></textarea>
								</div>
								
								<!-- Contact Image -->
								
								<div class="container text-center">
									<img src="" alt="" class="img-fluid my_profile_picture" th:src="@{'/img/'+${contact.cImage}}" style="width: 200px; height: 200px;"/>
								</div>
								
								<p class="text-secondary">Choose new profile pic</p>
								
								<div class="custom-file">
									<input type="file" name="profileImage" />
								</div>
								
								<div class="container text-center">
									<button class="btn btn-outline-primary">Save Contact</button>
								</div>
							
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

		<script>
	      tinymce.init({
	        selector: '#mytextarea'
	      });
	    </script>
		
		
	</section>
</body>
</html>