<!doctype html>
<html lang="en" xmlns="www.thymeleaf.org" th:replace="normal/base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>This is about page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="card">
				<div class="card-body my-5">
					<div class="container text-center">
						<img style="height: 200px; width: 200px;" class="my_profile_picture" th:src="@{'/img/logo1.png'}" alt="profile photo" />
					</div>
					
					<h1 class="text-center mt-3 text-secondary font-italic font-weight-light">
						Start Adding your contact on cloud...
					</h1>
					
					<a th:href="@{/user/add-contact}" class="btn btn-primary mt-4 btn-block text-uppercase">Add New Contact</a>
					
					</hr>
					
					
					<div class="container text-center mt-3">
						<a th:href="@{/user/payment_form}" class="btn btn-success btn-block">Pay</a>
					</div>
					
				</div>
			</div>
		</div>
		
		<script>
			
		</script>
		
		
		
		<script>
			$(document).ready(()=>{
				$(".item").removeClass("active");
				$("#home-link").addClass("active");
			});
		</script>
		
	</section>
</body>
</html>